@import "tailwindcss";

body {
    margin: 0;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: rgb(0 0 0 / 87%);
    background-color: #fff;
}