@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #f5f5f7;
    --foreground: #1d1d1f;
}


.dark {
    --background: #1d1d1f;
    --foreground: #f5f5f7;
}

@theme {
    /* 我自定义的 */
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* 主配色 */
    --color-apple-light: #f5f5f7;
    --color-apple-dark: #1d1d1f;

    /* 标准色 */
    --color-apple-black: #000;
    --color-apple-white: #fff;

    /* 品牌配色 */
    --color-apple-blue: #0071e3;
    --color-apple-red: #b64400;

    /* 灰阶系统（Gray Scale） */
    --color-apple-gray-100: #f5f5f7;
    --color-apple-gray-200: #d2d2d7;
    --color-apple-gray-300: #86868b;
    --color-apple-gray-800: #424245;
    --color-apple-gray-900: #1d1d1f;

    /* 字体 */
    --font-sans: "Inter", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    --font-display: "Poppins", "Inter", "sans-serif";
    --font-text: "Source Sans Pro", "Open Sans", "sans-serif";

    /* 文字颜色 */
    --color-apple-text-light: #1d1d1f;
    --color-apple-text-dark: #f5f5f7;

    /* 阴影 */
    --shadow-apple-sm: 0 1px 3px rgb(0 0 0 / 10%);
    --shadow-apple-md: 0 4px 12px rgb(0 0 0 / 8%);
    --shadow-apple-lg: 0 8px 24px rgb(0 0 0 / 6%);
}

body {
    margin: 0;
    font-family: var(--font-sans), serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: var(--color-apple-text-light);
    background-color: var(--color-apple-light);
}